
<%include ../partials/dashpart %>

	<div class='counter'>
		<h3 id='count'><%=count%></he>
	</div>
	<div id='checkin'>
	<form method='post' action='/checkin'>
		<div id='reg'>
			<h2 class='event'><%=eventName %></h2>
			<h4>Check In</h4>
			<hr>

			<div class='info'>
				<label>Name</label>
				<input type='text' name='name' id='name'>
			</div>

			<div class='info'>
				<label>Email</label>
				<input type='email' name='email' id='email'>
			</div>
			<input type='submit' name='submit' value='Submit'>
		</div>
	</form>
	</div>

	<table class='table-fill'>
		<thead>
			<tr id='theading'>
				<td class='text-left'>
					Time-in
				</td>
				<td class='text-left'>
					Name
				</td class='text-left'>
				<td>
					Email
				</td>
			</tr>
		</thead>
		<tbody id='table-body'>
		<% for(var i=data.length-1; i >= 0; i--) { %>
   		<tr>
     		<td class='text-left'><%= data[i].timeIn %></td>
     		<td class='text-left'><%= data[i].name %></td>
     		<td class='text-left'><%= data[i].email %></td>
   		</tr>
			<% } %>
		</tbody>
	</table>
	<% include ../partials/footer %>