
<%include ../partials/dashpart %>
	<div class='timer'>
		<p id='count'><%=count%></p>
	</div>
	<form method='post' action='/checkin'>
		<div id='reg'>
			<p class='event'><%=eventName %></p>
			<hr>
			<div class='info'>
				<p>Name</p>
				<input type='text' name='name' id='name'>
			</div>

			<div class='info'>
				<p>Email</p>
				<input type='email' name='email' id='email'>
			</div>
			<input type='submit' name='submit' value='Submit'>
		</div>
	</form>

	<table id='table'>
		<thead>
			<tr id='theading'>
				<td>
					Time-in
				</td>
				<td>
					Name
				</td>
				<td>
					Email
				</td>
			</tr>
		</thead>
		<tbody id='table-body'>
		<% for(var i=data.length-1; i >= 0; i--) { %>
   		<tr>
     		<td><%= data[i].timeIn %></td>
     		<td><%= data[i].name %></td>
     		<td><%= data[i].email %></td>
   		</tr>
			<% } %>
		</tbody>
	</table>
	<% include ../partials/footer %>